body {
  margin: 0;
  padding: 0;
  font-family: geometrialight;
  background-color: #edeeef;
  font-size: 12pt;
}

@font-face
{
	font-family: geometriabold;
	src:url(fonts/Geometria-Bold.otf);

}


@font-face
{
	font-family: geometrialight;
	src:url(fonts/Geometria-Medium.otf);

}


.main-header
{	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	height: 90px;
	background-color: white;
	overflow: hidden;
}
.main-header img
{
	width: 80px;
	margin: 6%;
	background-color: white;
}

.main-header div
{	
	text-align: center;
    vertical-align: middle;
    line-height: 90px;
	overflow: hidden;
	height: 100%;;
	display: inline-block;
}

.project-name-div{
	font-family: geometriabold;
	text-overflow: hidden;
	width: 50%;
	font-size: 22pt;
	margin-left: 21%
}

.teacher-link-div{
	
	font-size: 12pt;
	float: right;
	margin-right: 2%;
}
/*Авторизация*/

.logindiv
{
	height:250px;
	width: 400px;
	margin-left: 40%;
	margin-top: 5%;
	background-color: white;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	padding: 1%;
}

