/*стили главной страницы ученика*/

.con {
    margin-left: 15%;
    margin-top: 30px;
    width: 1350px;
    height: 100%;
}

#container{
    margin-left: 26%;
}
.marks-table-header {

    overflow: hidden;
}



.marks-table-header p {
    margin: 3%;
}



.side-bar {
    margin-right: 1%;
    overflow: hidden;
    float: left;
    display: inline;
    width: 25%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}


.table-cell {
    background-color: white;
    color: black;
    display: block;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.menu {
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    background-color: white;
    color: black;
    display: block;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    cursor: pointer;
}


div a {

    text-decoration: none;
    color: black;
}

div a:hover {

    text-decoration: none;
    color: black;
}


.rt-tr {
    background-color: white;
    color: black;
}

.btn.btn-default {

    margin-left: 40%;
    margin-top: 1%;
    color: black;
}

.btn.btn-default.to-student {

    margin-left: 26%;
}

/*Хедер на странице с оценками ученика*/
.top-bar {
    background-color: white;
    margin-top: 5%;
    margin-left: 15%;
    width: 1350px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
}

.student-name-paragraph {

    margin-left: 5%;
    font-size: 15pt;
    display: inline;
}


.period-controller {



    display: inline;
    float: right;
    width: 300px;
    vertical-align: middle;
}

.period-controller.form-control {
    width: 120px;
    margin-top: 8px;
    margin-right: 8px;
    
}

#choose-period-paragraph
{
    display: inline-block;
  
}
/*results table*/

.result-tr{
    background-color: white;
    height:30px;
}

.result-tr td {
width: 20%;
max-width: 20%;
text-align: center;
}

#results{
    margin-top: 10px;
}
