

/*стили главной страницы ученика*/
.con 
{ 
	margin-left: 15%;
    margin-top: 30px;
    margin-right: 15%;

}
.marks-table-header
{

	overflow: hidden;
}



.marks-table-header p{
	margin: 3%;
}



.top-bar 
{
background-color: white;
margin-top: 5%;
margin-left: 15%;
margin-right: 15%;
box-shadow: 0 0 3px rgba(0,0,0,0.5);
height: 50px;
vertical-align: middle;
line-height: 50px;
}

.side-bar {
    background-color: white;
   margin-right: 1%;
    overflow: hidden;
    float: left;
    display: inline;
    height: 100%;
    width: 25%;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.student-name-paragraph{

	margin-left: 5%;
font-size: 15pt;
display: inline;
}

.table-cell {
   background-color: white;
    color: black;
    display: block;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
.menu {
    border-bottom: solid 1px rgba(0,0,0,0.05);
   background-color: white;
    color: black;
    display: block;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}


/*список классов*/
.class-list {

    margin-right: 40%;
    margin-top: 5%;
    margin-left: 40%;
    background-color: white;
    
    height: 100%;
    width: 20%;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}



div a {

    text-decoration: none;
    color:black;
    
}

.rt-tr{
    background-color: white;
}

.btn.btn-default{

    margin-left: 40%;
    margin-top: 1%;
    color: black;

}

.btn.btn-default.to-student{

    margin-left: 26%;

    
}

.period-controller{


    
    display: inline;
    float: right;
    width: 120px;
    vertical-align:middle;
    

}
    
.period-controller.form-control{
    width: 100%;
    margin-top:8px;
    margin-right: 8px;
}